<%if @post.errors.any? %>
  <div id="error-explanation">
     <p><%= pluralize(@post.errors.full_messages.size, 'error') %>: </p>
      <ul class = "field_with_errors">
       <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>    
     </ul>
   </div>
<% end %>